
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/pywaapi.iml
.idea/vcs.xml
.idea/workspace.xml
csg_pywaapi/dist/
csg_pywaapi/.idea/
csg_pywaapi/build/
csg_pywaapi/csg_pywaapi.egg-info/
csg_pywaapi/csg_helpers/_pycache_/
*.pyc
csg_pywaapi/.eggs/
